<div class="content-wrap">
  <h1>Choose all topics you are interested in</h1>
  <%= simple_form_for @user do |f| %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |c| %>
    <div class="tag-selector">
    <%= c.check_box + c.label %>
    </div>
    <%# input_html: {  },
    item_wrapper_class: 'tag-item' %>
    <% end %>

    <%= f.submit class: "btn-custom" %>
  <% end %>

</div>
