// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #CEAB93;

$main-blue: #98A4E7;
$main-yellow: #FDFF90;
$main-green: #BCF779;
$main-purple: #F981D0;


// $main-blue: #81D2FF;
// $main-yellow: #FFF975;
// $main-green: #1cde63;
// $main-purple: #a680e9;
// $light-gray: #f7f7f7;
// #EBF0F6
// #FFB163;
// #FFFAF4
// light brown: #ddb892
