// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #FFF7E9;

$main-blue: rgb(152, 164, 231);
$main-yellow: rgb(253, 255, 144);
$main-green: rgb(188, 247, 121);
$main-purple: rgb(249, 129, 208);


// $main-blue: #81D2FF;
// $main-yellow: #FFF975;
// $main-green: #1cde63;
// $main-purple: #a680e9;
// $light-gray: #f7f7f7;
// #EBF0F6
// #FFB163;
// #FFFAF4
// light brown: #CEAB93
// altrosa: EAC7C7
// beige: FFF7E9
