
.content-wrap {
  padding-top:5pt;
  padding-left: 10pt;
  padding-right: 10pt;
  padding-bottom: 15pt;
  // display: flex;

}

.index-card-container {
  display: flex;
  flex-wrap: wrap;
  columns: 2;
}

.standar-card {
  width: 100%;
  height: auto;
  max-height: 70vh; /* Adjust this value as needed */
  // border-radius: 40px;
  overflow: hidden;
  margin-bottom: 5px;
}


.show-photo-card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.showcard {
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
}

// dont know yet how to apply only if the number or image is odd
// .index-card-container > :last-child {
//   flex-basis: 100%;
// }
