// #welcome-screen {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: white;
//   z-index: 9999;
// }

.font-weight {
  font-weight: 300;
}


.margin {
  // margin-top: 100px;
  // margin-bottom: 100px;
  // margin-left: 100px;
  // margin-right: 100px;
  margin: 100px;
}

.greeter {
  font-size: 50px;
  font-weight: 300;
}


.icon-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.beige {
  // background-color: #FFF7E9;
  background-color: rgba(152, 164, 231, .6);
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  // align-items: center;
  // padding-top: 100px;
  // padding-bottom: 100px;
}

.center {
  align-self: center;
  margin: 0px;
  height: auto;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  box-shadow: 0 1px 2px rgba(0,0,1,0.3);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  margin: 10px;
}

.padding {
  padding-bottom: 40px;
}

.padding-box-right {
  padding-right: 55px;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 140px;
}

.padding-box-left {
  padding-left: 55px;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-right: 100px;
}

.width-align {
  margin-top: 20px;
  text-align: justify;
}

.textbox {
  width: 60%;
  text-align: left;
  font-weight: lighter;
}

.textbox-left {
  padding-right: 400px;
  padding-left: 50px;
  letter-spacing: -2px;
  text-align: left;
  font-weight: lighter;
}

.textbox-right {
  // padding-right: 20px;
  padding-left: 100px;
  width: 60%;
  letter-spacing: -2px;
  text-align: center;
  font-weight: lighter;
}


.grow {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.demo-img {
  outline: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,1,2,0.4);
  // margin-left: 20px;
  width: 292px;
  height: 633px;
  object-fit: fill;
}

.video {
  outline: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,1,2,0.4);
  // margin-left: 20px;
  width: 292px;
  height: 633px;
  object-fit: fill;
}

.background-gradient {
  background:
    radial-gradient(circle at 0% 0%, $main-purple, rgba(55,220,222,0) 50%),
    radial-gradient(circle at 100% 0%, $main-green, rgba(255,20,222,0) 40%),
    radial-gradient(circle at 100% 100%, $main-blue, rgba(255,0,0,0) 80%),
    radial-gradient(circle at 50% 50%, $main-purple, rgba(255,0,0,.0) 50%),
    radial-gradient(circle at 0% 100%, $main-yellow, rgba(255,20,222,0) 60%);;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
