#welcome-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 9999;
}

.icon-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.beige {
  // background-color: #FFF7E9;
  background-color: rgba(253, 255, 144, .7);
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  box-shadow: 0 1px 2px rgba(0,0,1,0.3);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  margin: 10px;
}

.textbox {
  width: 50%;
  text-align: left;
  font-weight: lighter;
}

.grow {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.demo-img {
  outline: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0,0,1,0.3);
}

.background-gradient {
  background:
    radial-gradient(circle at 0% 0%, $main-purple, rgba(55,220,222,0) 50%),
    radial-gradient(circle at 100% 0%, $main-green, rgba(255,20,222,0) 40%),
    radial-gradient(circle at 100% 100%, $main-blue, rgba(255,0,0,0) 80%),
    radial-gradient(circle at 50% 50%, $main-purple, rgba(255,0,0,.0) 50%),
    radial-gradient(circle at 0% 100%, $main-yellow, rgba(255,20,222,0) 60%);;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
