<div class="navbar-container">
  <div class="navbar-content">
       <%#= link_to show_path do %>
       <%= inline_svg("icon.svg", class: "icon", height: "28pt",style: "fill: black;") %>
       <%# end %>
       <%#= link_to show_path do %>
       <%= inline_svg("logo.svg", class: "icon", height: "25pt") %>
       <%# end %>
       <%#= link_to show_path do %>
       <%= inline_svg("logo.svg", class: "avatar") %>
       <%# end %>
  </div>
</div>
