<div id="welcome-screen" data-controller="welcome" data-action="connect@window->welcome#rememberSeenWelcomeScreen">
  <div data-welcome-target="screen">
    <%= inline_svg("logo.svg", class: "icon-centered", height: "35pt") %>
  </div>
</div>
