<div class="container_search" data-controller="search">
  <div id="search-field">
    <%= render partial: "search_form", layout: false %>
  </div>
  <div id="search-results" data-search-target='results'>
  </div>
  <div id="friends-list" data-search-target="friendsList">
    <% if @accepted_friendships.any? %>
      <h2>Friends</h2>
      <div class="card-friend">
        <% @accepted_friendships.each do |friendship| %>
          <img src="<%= friendship.friend.avatar_url %>" alt="Avatar">
          <%# <div class="card-friend-name"> %>
            <h3><%= friendship.friend.username %></h3>
          <%# </div> %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
