<div class="container" data-controller="search">
  <%= render partial: "search_form", layout: false %>
  <div id="search-results" data-target='search.results'>
  </div>
  <div id="Friends List">
    <% if @accepted_friendships.any? %>
      <h2>Friends</h2>
      <% @accepted_friendships.each do |friendship| %>
        <p><%= friendship.friend.username %> is your friend.</p>
      <% end %>
    <% end %>
  </div>
</div>
