<div class="container" data-controller="search">
  <%= render partial: "search_form", layout: false %>
  <div id="search-results" data-target='search.results'>
  <!-- Search results will be dynamically updated here by JavaScript -->
  </div>
</div>
