<div class="container">
  <div class="challenge-card scale-up-hor-center mb-5">
    <div>
      <%= link_to '', feed_path, class: "btn-close x" %>
    </div>
    <h1>Lumos</h1>
    <%# @challenge.keyword.name %>
     <br>
    <%= link_to "Ready to Bloom?", new_challenge_post_path(@challenge), class: "btn btn-custom btn-challenge mt-4 text-decoration-none" %>
  </div>
</div>
