<div class="container">
  <div class="challenge-card scale-up-hor-center mb-5 dashboard-gradient">
    <div>
      <%= link_to '', feed_path, class: "btn-close x" %>
    </div>
      <h1 class="text-wrapper">You've completed todays challenge</h1>
     <br>
  </div>
</div>
