<div class="content-wrap">
<h1>Your Feed</h1>

<div class="index-card-container">
  <% @posts.each do |post| %>
    <div class="standar-card">
      <%= link_to post_path(post) do %>
          <%= post.text %>
        <% end %>
    </div>
  <% end %>
</div>
</div>
