<div class="content-wrap">
<h1>Your Feed</h1>

<div class="index-card-container">
  <% @posts.each do |post| %>
    <div class="standar-card">
      <%= link_to post_path(post) do %>
          <%= image_tag post.picture_url %>
          <%# <%= cl_image_tag(post.photo.key, class: "card-img-top", crop: :thumb, gravity: :face) %> 
        <% end %>
    </div>
  <% end %>
</div>
</div>
