


<div class="content-wrap">

    <div class="text-card-show">
        <h5><%= @post.created_at.strftime('%d %B, %Y') %></h5>
        <h5 style="font-style: italic"><%=  @keyword.name %></h5>
    </div>

    <div class="showcard" style="  border-radius: 0px;">
      <%= cl_image_tag(@post.photo.key, class: "card-img-top", crop: :thumb, gravity: :face) %>
    </div>
<button class="btn-custom">edit</button>

</div>
