


<div class="content-wrap">
  <div class="showcard" style="  border-radius: 0px;">
    <%= image_tag @post.picture_url, style: 'width: 100%'%>
  </div>

  <div class="text-card-show">
      <h4><%= @post.date.strftime('%d %B, %Y') %></h2>
      <h4><%=  @keyword.name %></h2>
  </div>
</div>
