*
//dashboard blob settings and avatar here
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  min-width: 100vw;
}

.blob {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blob-dashboard {
  width: 100%;
  height: 100%;
}


.body-font {
  font-family: $body-font;
  font-size: 40px;
}

.text-font {
  font-weight: lighter;
}

//dashboard

.blob-dashboard {
  position: relative;
  filter: drop-shadow(0 0 15px $main-green);
    // outline: 4pt solid $gray;
    fill: $main-green; /* white fill */
  // stroke: green; /* green stroke */
  stroke-width: 4; /* stroke width, adjust as needed */


}

.blob-dashboard .avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* adjust as needed */

  height: 50%; /* adjust as needed */
  // outline: 4pt solid $gray;
  border-radius: 50%;
  object-fit: cover;
  outline: none;
  background-color: $light-gray;
  filter: drop-shadow(0 0 15px $light-gray)

}
