*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.blob {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blob-dashboard {
  width: 100%;
  height: 100%;
}

//dashboard

.blob-dashboard {
  position: relative;
  filter: drop-shadow(0 0 15px $main-green);

}

.blob-dashboard .avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* adjust as needed */
  height: auto; /* adjust as needed */
  // outline: 4pt solid $gray;
  outline: none;
  background-color: $light-gray;
  filter: drop-shadow(0 0 15px $light-gray)

}
