.btn-custom {
  border: 1px solid black;
  color: black;
  // padding: 10px;
  padding: 5px;
  width: 100pt;
  margin: 10pt;
  border-radius: 10pt;
  font-size: 14pt;
  font-family: $body-font;
  font-weight: lighter;
  text-decoration: none;
  text-align: center;
}

.btn-feed {
  font-family: $body-font;
  width: 170px;
  font-weight: lighter;
  text-align: center;
  font-size: 14px;
  text-transform: none;
  line-height: 1em;
  fill: #272621;
  color: #272621;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: black;
  border-radius: 30px 30px 30px 30px;
  padding: 10px 23px 10px 23px;
  text-decoration: none;
}

.btn-feed:focus {
  background-color: white;
  color: black;
  text-decoration: none;
}

.btn-challenge {
  width: 100pt;
  border: 1px solid black;
  font-weight: lighter;
  padding: 5px;
}

.btn-calendar {
  width: 60pt;
  padding: 5px;
  font-size: 14pt;
  font-weight: lighter;
  margin-left: 0pt;
  margin-right: 0pt;
  border: none;

  &:active {
    background-color: $main-yellow;
    border: none;
  }
}

.btn-list {
  background-color: black;
  // border: 2pt dashed white;
  color: white;
  padding: 5pt 10pt;
  border-radius: 18pt;
  font-size: 14pt;
  font-family: "Inter", "sans-serif";
  display: inline-block;
  text-decoration: none;
  margin: 3px;
  text-align: center;
}

.btn-list-checked {
  @extend .btn-list;
  // border: 2pt dashed white;
  background-color: $black;
  color: white;
}

.btn-list-add {
  @extend .btn-list;
  width: 50px;
  background-color: $white;
  border: 1pt solid black;
  color: black;
  border-radius: 50%;


  a {
    color: black;
    font-weight: lighter;

  }
}



// medium selection buttons on the feed

.btn-quote {
  background-color: $main-yellow;
  // border: 2pt dashed black;
  // color: black;
  // padding: 4pt 8pt;
  // border-radius: 18pt;
  // font-size: 16pt;
  // font-family: "Inter", "sans-serif";
  // display: inline-block;
  // text-decoration: none;
}

.btn-quote:focus {
  background-color: white;
  color: black;
  text-decoration: none;
}

// .btn-quote:focus {
//   border: 2pt solid black;
//   color: black
// }

.btn-song {
  background-color: $main-purple;
  // border: 2pt dashed black;
  // color: black;
  // padding: 4pt 8pt;
  // border-radius: 18pt;
  // font-size: 16pt;
  // font-family: "Inter", "sans-serif";
  // display: inline-block;
  // text-decoration: none;
}


.btn-poem {
  background-color: $main-blue;
  // border: 2pt dashed black;
  // color: black;
  // padding: 4pt 8pt;
  // border-radius: 18pt;
  // font-size: 16pt;
  // font-family: "Inter", "sans-serif";
  // display: inline-block;
  // text-decoration: none;
}

// .btn-poem:focus {
//   border: 2pt solid black;
//   color: black
// }

.btn-photo {
  background-color: $main-green;
  // border: 2pt dashed black;
  // color: black;
  // padding: 4pt 8pt;
  // border-radius: 18pt;
  // font-size: 16pt;
  // font-family: "Inter", "sans-serif";
  // display: inline-block;
  // text-decoration: none;
}

// .btn-photo:focus {
//   border: 2pt solid black;
//   color: black
// }



// categories listing bellow
.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  background-color: white;
  border: 2pt dashed black;
  color: black;
  padding: 4pt 8pt;
  border-radius: 18pt;
  font-size: 16pt;
  font-family: "Inter", "sans-serif";
  display: inline-block;
  text-decoration: none;
  margin-bottom: 5px;
  margin-top: 5px;
}

.tag-selector:checked + label {
  background-color: $black;
  color: white;
}



.editpage {
  h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: $body-font;
    font-size: 40px;
    color: rgb(30, 30, 30);
    text-shadow: $main-green 1px 0 10px;
    display: block;
    text-align: center;
  }
}

.custom-submit-button {
  background-color: white;
  border: 1pt solid black;
  color: black;
  padding: 5pt;
  border-radius: 10pt;
  font-size: 16pt;
  font-family: $body-font;
  font-weight: lighter;
  display: inline-block;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  left: 10px;
  right: 10px;
}

.log-btn {
  // position: relative;
  // display: flex;
  // align-items: center;
  border: none;
  // background-color: black;
  // border: 1pt solid black;
  // color: white;
  // padding: 5pt;
  // border-radius: 50%;
  // font-size: 12pt;
  // font-weight: lighter;
  // display: block;
  // margin-left: 10px;
  // margin-right: 10px;
  // margin-bottom: 10px;
  // margin-top: 40px;
  // width: 50pt;
  // height: 50pt;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 100%;
}
