.btn-custom {
  background-color: none;
  border: 2px solid black;
  color: black;
  padding: 10px;
  width: 70pt;
  margin: 10pt;
  border-radius: 10pt;
  font-size: 14pt;
  font-family: $body-font;
  font-weight: bold;
}

.btn-custom:active {
  background-color: $main-yellow;
  border: none;
}

.btn-list {
  background-color: none;
  border: 2px solid $main-blue;
  color: black;
  padding: 10px;
  width: 70pt;
  margin: 10pt;
  border-radius: 10pt;
  font-size: 14pt;
  font-family: $body-font;
  font-weight: bold;
}
