.btn-custom {
  background-color: none;
  border: 2px solid black;
  color: black;
  padding: 10px;
  width: 100pt;
  margin: 10pt;
  border-radius: 10pt;
  font-size: 14pt;
  font-family: $body-font;
  font-weight: bold;
  text-decoration: none;
}

// div.challenge-card {
//   pointer-events: none;
// }
.btn-challenge {
  width: 100pt;
  border: 1px solid black;
  font-weight: lighter;
  padding: 5px;
}

.btn-calendar {
  width: 60pt;
  padding: 5px;
  font-size: 10pt;
  font-weight: lighter;
  margin-left: 0pt;
  margin-right: 0pt;

}

// div.challenge-card:active {
//   // transition: 2s;
//   background: rgb(203,172,255);
//   background: radial-gradient(circle, rgba(255,249,117,0.774969362745098) 40%, white 60%);
// }

.btn-custom:active {
  background-color: $main-yellow;
  border: none;
}

.btn-list {
  background-color: none;
  border: 2px solid $main-blue;
  color: $main-blue;
  padding: 8pt;
  margin: 3pt;
  border-radius: 10pt;
  font-size: 12pt;
  font-family: $body-font;
  display: inline-block;
}
