.simple-calendar {
  border-radius: 12px;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  padding: 15px;
  border: 1px solid black;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border-style: none;
    box-sizing: border-box;
  }

  tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  td {
    padding: 6px;
    aspect-ratio: 1/ 1;
    border-style: none;
    border-radius: 50%;
    width: auto;
  }

  .calendar-title {
    font-size: 16pt;
    margin-bottom: 0px;
    // margin-left: 3pt;
    // margin-right: 3pt;
  }

  .day {
    height: 30pt;
    margin-bottom: 5pt;
    text-align: center;
    vertical-align: middle;
  }

  .photo{
    background-color: $main-green;
  }

  .song {
    background-color: $main-purple;
  }

  .quote {
    background-color: $main-yellow;
  }

  .poem {
    background-color: $main-blue;
  }

  .none {
    background-color: white;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border: 2px solid black;
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    color: black;
    background-color: rgb(234, 233, 233);
    ;
  }
  .next-month {
    color: black;
    background-color: rgb(234, 233, 233);
    ;
  }
  .current-month {}

  .has-events {}
}
