.content-wrap {
  padding-top:5pt;
  padding-left: 10pt;
  padding-right: 10pt;
  padding-bottom: 15pt;
  // display: flex;

}

.index-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posts_cards {
  width: calc(50% - 5px);
  margin-bottom: 15px;
}

.card-quote {
  position: relative;
  background-color:$main-yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 10px;
  border-radius: 12px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}

figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

figure > * {
  grid-area: 1/1;
  transition: .4s;
}

figure figcaption {
  display: grid;
  align-items: end;

}
figure:hover figcaption{
  --_i: 20%;
}



.card-poem {
  background-color:$main-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 10px;
  border-radius: 12px;
  text-decoration: none;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
}

.card-photo {
  position: relative;
  background-color:$main-green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 12px;

  .img.card-photo {
    border-radius: 20px;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card-song {
  background-color:$main-purple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 10px;
  border-radius: 12px;

  .card-song iframe {
    border-radius: 12px;
    width: 100%;
    height: 100%;
  }
}




// .standard-card img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .showcard {
//   width: 100%;
//   border-radius: 40px;
//   overflow: hidden;
// }

// dont know yet how to apply only if the number or image is odd
// .index-card-container > :last-child {
//   flex-basis: 100%;
// }
