.card-tracking {
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  padding: 15px;
  border-radius: 12px;
  color: black;
  text-decoration: none;
  text-align: left;
  font-size: 14px;

}
.yellow {
  border: 1px solid black;
}

.headline {
  margin-bottom: 10px;
  font-family: $body-font;
  font-size: 40px;
  color: rgb(30, 30, 30);
  text-shadow: $main-green 1px 0 10px;
  display: block;
  text-align: center;
}
