///////////HERE STARTS SCSS FOR CARDS GRID FEED///////////
.container_feed {
  padding-top:5pt;
  padding-left: 10pt;
  padding-right: 10pt;
  padding-bottom: 15pt;
  // // display: flex;


  .feed {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    .posts_cards {
      height: width;
      position: relative;

      .card-quote {
        position: relative;
        background-color:$main-yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
        padding: 12px;
        border-radius: 12px;
        color: black;
        text-decoration: none;
        text-align: center;
        font-size: 24px;
      }

      .card-poem {
        background-color:$main-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
        padding: 12px;
        border-radius: 12px;
        text-decoration: none;
        color: black;
        text-decoration: none;
        text-align: center;
        font-size: 12px;
      }

      .card-photo {
        position: relative;
        background-color:$main-green;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 180px;
        padding: 12px;
        border-radius: 12px;
        object-fit: cover;

        // .img.card-photo {
        //   border-radius: 20px;
        //   max-height: 100%;
        //   width: 100%;
        //   object-fit: cover;
        // }
      }

      .card-song {
        background-color:$main-purple;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
        padding: 12px;
        border-radius: 12px;

        iframe {
          border-radius: 12px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .button-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}



/////////// Old Code from First Talk ///////////
        // .card-song {
        //   background-color:$main-purple;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   height: 200px;
        //   padding: 10px;
        //   border-radius: 12px;

        //   .iframe {
        //     border-radius: 12px;
        //     width: 100%;
        //     height: 100%;
        //   }
        // }


////// The Code for optional card hover flip - Darima //////
    // figure {
    //   display: grid;
    //   border-radius: 1rem;
    //   overflow: hidden;
    //   cursor: pointer;
    // }

    // figure > * {
    //   grid-area: 1/1;
    //   transition: .4s;
    // }

    // figure figcaption {
    //   display: grid;
    //   align-items: end;

    // }
    // figure:hover figcaption{
    //   --_i: 20%;
    // }
