// here starts styling of challenge card
.challenge-card {
  border-radius: 1em;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  // box-shadow: 0 5px 10px rgba(0,0,0,.2);
  // background: rgb(203,172,255);
  // background: radial-gradient(circle, rgba(255,249,117,0.774969362745098) 15%, rgba(203,172,255,0.7245491946778712) 85%);
  margin: 30px auto;
  width: 300px;
	height: 600px;

  .x {
    position: relative;
    float: right;
	  color: black;
    top: -160px;
    right: -115px;
  }
}
// here ends styling of challenge card

// styling for submit button "Tap to plant today's seed"
.text-wrapper {
  width: 100%;
  height: 600px;
  font-size: 30px;
  font-weight: light;
  border: none;
  background: none;
  padding: 20px;
  color: white !important;
}
//

// here starts the flipping animation

.scale-up-hor-center {
    -webkit-animation: scale-up-hor-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-hor-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
// here ends the flipping animation
