.navbar-container {
  position: sticky;
  top: 0;
  width: auto;
  height: 60pt;
  padding-top: 22pt;
  padding-left: 10pt;
  padding-right: 10pt;
  padding-bottom: 10pt;
  display: flex;
  justify-content: center;
  background-color: $light-gray;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.navbar-container.hide {
  opacity: 0;
}


.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.avatar {
  width: 28pt;
  height: 28pt;
  border-radius: 50%;
  overflow: hidden;
  outline: 1pt solid black;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon{
  opacity: 1;
  transform: 0.3s;
}

.icon:active {
  opacity: 0.6
}
//hider
