.keyword-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}

.keyword {
  flex: 1;
  overflow: hidden; /* Truncate text if it's too long */
}

.delete-link {
  margin-left: 10px; /* Adjust the spacing between keyword and delete link */
  text-decoration: none;
}
