.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  padding-left: 10pt;
  padding-right: 10pt;

  .container-dashboard {
    position: relative;
    width: 100%;
    padding-left: 10pt;
    padding-right: 10pt;
    margin-top: 30px;
  }
}
